body{
  font-family: sans-serif;
  text-align: center;
}

.content{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 50px;
  margin-left: -100px;
  margin-top: -25px;
}

h5{
  margin-top: 10px;
}
